

<!-- FastClick -->
<script src="/static/fastclick/lib/fastclick.js"></script>
<!-- Sparkline -->
<script src="/static/jquery/external/form/jquery.form.min.js"></script>
<!-- Select2 -->
<script src="/static/select2/dist/js/select2.full.min.js"></script>
<!-- jvectormap  -->
<script src="/static/jvectormap/jquery-jvectormap.js"></script>
<!-- SlimScroll -->
<script src="/static/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS -->
<script src="/static/chart.js/Chart.js"></script>
<!-- bootstrap datepicker -->
<script src="/static/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/static/myjs/index.js"></script>
<!-- AdminLTE for demo purposes -->

