
{% include 'app/head.html' %}
{% include 'app/sidebar.html' %}
{% include 'app/mid.html' %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">新飞船信息给这儿填写</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>品牌：</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Nike</option>
                        <option>Adidas</option>
                        <option>Converse</option>
                        <option>Vans</option>
                    </select>
                </div>
                <!-- /.form-group -->
            </div>

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>


    {% include 'app/foot.html' %}
