
{% include 'app/head_inwarehouse.html' %}
{% include 'common/sidebar.html' %}
{% include 'common/mid.html' %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">新飞船信息给这儿填写</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <p>{{ inform }}</p>
                <div class="form-group" >
                    <form action="bought.html" method="post" id="newBoughtForm">
                        {% csrf_token %}{{ newBoughtForm.as_p }}
                        <div>
                            <button class="btn btn-block btn-primary btn-lg" id="boughtForm" type="submit">确认</button>
                        </div>
                    </form>
                </div>
                <!-- /.form-group -->
            </div>

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>

    {% include 'app/foot_inwarehouse.html' %}
    {% include 'app/morejs.html' %}
    {% include 'app/../../common/end.html' %}
